nav {
    text-align: center;
    color: white;
    padding: 50px;
    position: relative;
}
a:link, a:visited {
    background-color: goldenrod;
    color: rgb(127, 127, 183);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
a:hover, a:active {
    background-color: blanchedalmond;
}
nav ul {
    list-style-type: none;
}
  
nav ul li {
    display: inline-block;
}
.body1 {
    display: none;
    position: absolute;
    min-width: 50px;
    max-width: 300px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
    font-size: 14px;

}
.button1 {
    padding: 13px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
  
.body1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.body1 a:hover {
    background-color: lightblue;
    color:rgb(127, 127, 183) ;
}
.li:hover .body1 {
    display: block;
}

h1 {

    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
    font-style: oblique;
    color: burlywood;
    font-size: 50px;
    position: relative;
    bottom: -30px;

}

.div1 {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    font-style: italic;

}

.div2 {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
    font-size: 20px;
    font-style: oblique;

}

h2 {

    text-align: left;
    color: brown;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
#h21 {
    text-align: left;
    color: brown;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

p {

    color: black;
    font-family: 'Trebuchet MS';
    text-align: left;
    font-size: 20px;

}

form {

    background-color: burlywood;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    color: brown;
    font-family:Arial, Helvetica, sans-serif;

}

input {
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    background-color: blanchedalmond;

}

select {

    color: brown;
    font-family: 'Times New Roman', Times, serif;
    background-color: blanchedalmond;

}

input [type="radio"] {
    position: relative;
    width: 20px;
    height: 20px;
    bottom: -3px;

}

button {
    width: 100px;
    height: 50px;
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blanchedalmond;
}
body {
    background-color: bisque;
}