html,body {
  height: 50%;
  margin: 0;
  padding: 0;
}

.bg-text {
  text-align: center;
  color: white;
  padding: 50px;
  position: relative;
  z-index: 1;
}

.bg-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://img.freepik.com/free-photo/asian-style-food-bowls-with-chopsticks-copy-space-writing-text_23-2148123705.jpg?size=626&ext=jpg&ga=GA1.2.1604589930.1685241732&semt=ais");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10px;
  border: 50px;
  width: auto;
  height: auto;
  color: lightcyan;
  font-size: 200px;
  position: relative;
  bottom: -120px;
}

.div2 {
  text-align: center;
}

a:link, a:visited {
  background-color: goldenrod;
  color: rgb(127, 127, 183);
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
}
a:hover {
  background-color: blanchedalmond; 
}
.p1 {
  color: lightyellow;
  font-family: "Geneva";
  font-size: 50px;
}

#img1 {
  border-width: 20px;
  border-style: solid;
  border-color: black;
  position: relative;
  right: 650px;
  bottom: -40px;
}

#img2 {
  border-width: 20px;
  border-style: solid;
  border-color: black;
  position: relative;
  top: -820px;
  left: 380px;
}

#img3 {
  border-width: 20px;
  border-style: solid;
  border-color: black;
  position: relative;
  top: -880px;
  right: 660px;
}

#img4 {
  border-width: 20px;
  border-style: solid;
  border-color: black;
  position: relative;
  top: -1750px;
  left: 400px;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-size: 50px;
  position: relative;
  right: 650px;
  top: 0px;
  font-size: 100px;
}

.div3 {
  position: relative;
  top: -30px;
  right: 620px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

#h21 {
  position: relative;
  top: -870px;
  left: 380px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-size: 100px;
}

.p2 {
  position: relative;
  top: -900px;
  left: 390px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

#h13 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-size: 50px;
  position: relative;
  right: 650px;
  top: -930px;
  font-size: 100px;
}

.p3 {
  position: relative;
  top: -950px;
  right: 680px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}

#h14 {
  position: relative;
  top: -1780px;
  left: 400px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-size:100px;
}

.p4 {
  position: relative;
  top: -1800px;
  left: 400px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}